.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 10s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
    color: yellow;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
.labelClass{
    margin: auto;
    height: 50px;
}
.tableClass {
    margin: auto;
    width: 100%;
}
.labelTableClass{
    margin: 5px;
    height: 10px;
    width: 100%;
}

.CategoryText{
    font-size: larger;
    color: black;
}
.errorMessage{
    margin-top: 50px;
    font-size: 1.5em;
    text-align: center;
    color: black;
}