body {
    font-family: sans-serif;
    margin: auto;
    width: 100%;
}
.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 10s linear;
    width: 6vw;;
    height: 6vw;
    min-height: 1%;
    max-height: 100%;
    min-width: 1%;
    max-width: 100%;
}

.App-header {
    background-color: black;
    width: 100%;;
    height:100%;
    min-height: 1%;
    max-height: 100%;
    min-width: 1%;
    max-width: 100%;
    padding: 20px;
    color: white;
    position: -ms-device-fixed;
}

.App-title {
  font-size: 2vw;
}

.App-intro {
    font-size: 2vw;

    text-align: center;
    margin: auto;
    position: absolute;
    left: 0;
    right: 0;
    font-family: "lato", sans-serif;
    font-weight: 100;
    letter-spacing: 3px;
    padding-left: 10px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
.labelClass{
    margin: auto;
    height: 50px;
}
.tableClass {
    position: center;
    margin: auto;

    width: 100%;;
    height: 4.5vw;
    min-height: 1%;
    max-height: 100%;
    min-width: 1%;
    max-width: 100%;
}
.labelTableClass{
    position: center;
    margin: 5px;
    width: 4.5vw;;
    height: 4.5vw;
    min-height: 1%;
    max-height: 100%;
    min-width: 1%;
    max-width: 100%;
}

.CategoryText{
    font-size: 2vw;

}
.errorMessage{
    margin-top: 10vw;
    font-size: 1.5vw;
    text-align: center;
    color: greenyellow;
}
.hangManPic{
    margin-top: 10px;
}
.login-form
{
    font-size: 2vw;
    margin: auto;
    width: 25vw;;
    height: 25vw;
    min-height: 1%;
    max-height: 100%;
    min-width: 1%;
    max-width: 100%;
}

.transition {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
}