.square{
    background-color: #3498db;
    margin: 5px;
    width: 4.5vw;;
    height: 4.5vw;
    min-height: 1%;
    max-height: 100%;
    min-width: 1%;
    max-width: 100%;
    text-align: center;
    text-align-all: center;
}
.zoom {
    transition: transform .2s; /* Animation */
}
.zoom:hover {
    transform: scale(1.2); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}
.button1:disabled {
    background-color: blue;
}
.zoom:disabled {
    background-color: grey;
    transform: none;
}
.button1 {
    position: -ms-device-fixed;
    background-color: black;
    width: 4.5vw;;
    height: 4.5vw;
    min-height: 1%;
    max-height: 100%;
    min-width: 1%;
    max-width: 100%;
    margin: 5px;
    vertical-align: middle;

}
.buttonClass {
    margin: 0 auto;
    position: relative;
    height: 50%;
    width: 50%;
}
.playButton {
    margin: auto;
    background: #3498db;
    width: 180px;
    transform: translateX(-50%) translateY(-50%);
    border-radius: 3px;
    position: absolute;
    top: 50%;
}
.playButton:hover {
    cursor: pointer;
}
.loginButton{
    position: relative;
    background-color: greenyellow;
    width: 11vw;;
    height: 4.5vw;
    min-height: 1%;
    max-height: 100%;
    min-width: 1%;
    max-width: 100%;
    margin: 5px;
    vertical-align: middle;
}

